@use "lib/govuk-frontend/dist/govuk" as * with (
  $govuk-assets-path: "/penalties/assets/lib/govuk-frontend/dist/govuk/assets/"
);

@import "lib/hmrc-frontend/hmrc/all";
@import "summary-card";

$hmrc-assets-path: "/penalties/assets/lib/hmrc-frontend/hmrc/";

.penalty-information-caption {
  display: table-header-group;
}
