$govuk-assets-path: "/penalties/assets/lib/govuk-frontend/govuk/assets/";
$hmrc-assets-path: "/penalties/assets/lib/hmrc-frontend/hmrc/";
$govuk-suppressed-warnings: "libsass";
$govuk-suppressed-warnings: "legacy-organisation-colours";

@import "lib/govuk-frontend/dist/govuk/index";
@import "lib/hmrc-frontend/hmrc/all";
@import "summary-card";

.penalty-information-caption {
  display: table-header-group;
}
